**Title**
Preidicting The Narrowing of Blood Vessels Through Classification



**Introduction**

**Preliminary Exploratory Data Analysis**

In [1]:
#Load Tidyverse Package
library(tidyverse)
library(dplyr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
#Loading Processed Cleveland Data From Heart Disease Data Set
url<-"https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"

cleveland_heart_data<-read_csv(url, col_names=FALSE)%>%
rename(age=X1,
       sex=X2,
       cp=X3,
       trestbps=X4,
       chol=X5,
       fbs=X6,
       restecg=X7,
       thalach=X8,
       exang=X9,
       oldpeak=X10,
       slope=X11,
       ca=X12,
       thal=X13,
       num=X14)     
head(cleveland_heart_data)

#CP=Chest Pain Type
#Trestbps=Resting Blood Pressure
#Chol=Serum Cholesterol
#FBS=
#Restecg=
#Thalach=
#Exang=
#Oldpeak=
#Slope=
#Ca=
#Thal=
#Num=

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal num
1 63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0  0
2 67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0  2
3 67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0  1
4 37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0  0
5 41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0  0
6 56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0  0

**Tidying The Data**

In [3]:
cleveland_heart_data$sex<-ifelse(cleveland_heart_data$sex == 1, 'male', 'female')
cleveland_heart_data$fbs<-ifelse(cleveland_heart_data$fbs == 1, '>120', '<120')
cleveland_heart_data$exang<-ifelse(cleveland_heart_data$exang == 1, 'yes', 'no')
cleveland_heart_data$num<-ifelse(cleveland_heart_data$num == 0, 'no_disease', 'has_disease')
#The last one is done based on the fact that 1-4 means heart disease, 0 means no; subject to change
#based on what is told from profs.

In [4]:
head(cleveland_heart_data)

  age sex    cp trestbps chol fbs  restecg thalach exang oldpeak slope ca  thal
1 63  male   1  145      233  >120 2       150     no    2.3     3     0.0 6.0
2 67  male   4  160      286  <120 2       108     yes   1.5     2     3.0 3.0
3 67  male   4  120      229  <120 2       129     yes   2.6     2     2.0 7.0
4 37  male   3  130      250  <120 0       187     no    3.5     3     0.0 3.0
5 41  female 2  130      204  <120 2       172     no    1.4     1     0.0 3.0
6 56  male   2  120      236  <120 0       178     no    0.8     1     0.0 3.0
  num
1 no_disease
2 has_disease
3 has_disease
4 no_disease
5 no_disease
6 no_disease